<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.apple.developer.associated-domains</key>
    <array>
      <string>applinks:open.spotify.com</string>
      <string>applinks:spotify.com</string>
      <string>applinks:music.apple.com</string>
      <string>applinks:youtube.com</string>
      <string>applinks:youtu.be</string>
      <string>applinks:music.youtube.com</string>
    </array>
  </dict>
</plist>